body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Verdana, sans-serif;
}

body h1{
	font-family: "Bree Serif", Verdana, sans-serif;
}

/* ======== MODULE 5/6 ======== */

.module5 h3.section-title, .module5 h4.section-title, .module5 .nav-link{
	font-family: 'Quattrocento Sans',  "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight:  bold;
}

.module5 h4.section-title, .module5 .nav-link{
	font-size:  1.2em;
}

.module5 p.section-description{
	font-family: 'Quattrocento Sans',  "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.module5 p{
	margin: 0;
}

.module5 .img-div .img-text{
	padding: 0;
	
}

.module5 .img-div{
	overflow: hidden;
	position:  relative;
}

.module5 .img-div .img-text .pro-hours{
	color:  transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	height: 100%;
	text-align: center;
	font-size: 1.1em;
}

/*.module5 .img-div .img-text .pro-hours:hover{
	color:  black;
	background-color: rgb(251,251,251, 0.75);
}*/

.module5 .navbar .navbar-brand{
	font-weight: bold;
}



.module5 .navbar-custom {
    background-color: #EAECEF;
}

.module5 .input-group {
	height: 38px;
}

.module5 .hasDatepicker{
	border:  1px solid #CED4DA;
	border-radius: 4px;
	width: 91%;
	background-color: white;
	padding-left:  14px;
}

.module5 .hasDatepicker:disabled{
	border:  1px solid #CED4DA;
	border-radius: 4px;
	width: 91%;
	background-color: #EAECEF;
	padding-left:  14px;
}

.module5 #bad-phone, .module5 #bad-email, .module5 #bad-last-name, .module5 #bad-first-name, .module5 #bad-credit-card, .module5 #bad-exp-date, .module5 #bad-cvv{
	color: red;
	display: none;
	font-size: 0.8em;
}

.module5 #modal2{
	display: none;
}

.module5 #ModalLabel2{
	display: none;
}


/* ===== MODULE 4 ====== */

/*
#0D6EFD
*/

.module4 h3.section-title, .module4 h4.section-title, .module4 .nav-link{
	font-family: 'Quattrocento Sans',  "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight:  bold;
}

.module4 p.section-description{
	font-family: 'Quattrocento Sans',  "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.module4 p{
	margin: 0;
}

.module4 .navbar .nav .nav-item .nav-link.active{
	
}

.module4 .navbar .navbar-brand{
	font-weight: bold;
}



/* ===== MODULE 3 ====== */

.module3 #header{
	margin-left: auto;
	margin-right: auto;
	background-color: #91CB3E;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.module3 #header .home{
	display: flex;
	justify-content: flex-start;
}

.module3 #header .title{
	display: flex;
	justify-content: flex-start;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0 75px 0 0;
}

.module3 #header .home a{
	text-decoration: none;
	color: black;
	background: white;
	border-radius: 20px;
	padding: 10px 20px;
}

.module3 #header .home a:hover{
	text-decoration: none;
	color: black;
	background: #F0F7F4;
	border-radius: 20px;
	padding: 10px 20px;
}

.module3 #content{
	min-height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;

}

.module3 #content .main-image{
	width: 30%;
}

.module3 #content .accordion{
	background-color: #19381F;
  	color: white;
  	cursor: pointer;
  	padding: 18px;
  	margin: 5px;
  	width: 95%;
  	border: none;
  	text-align: center;
  	outline: none;
  	font-size: 15px;
  	transition: 0.4s;
  	font-family: "Trebuchet MS", Verdana, sans-serif;
  	border-radius: 11px;
}

.module3 #content .active, .module3 #content .accordion:hover {
  background-color: #4C934C;
  height: auto;
}

.module3 #content .accordion:after {
  content: '\25B6';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.module3 #content .active:after button{
  content: "\25BC";
}

.module3 #content .tabcontent{
	margin: 0px;
  	padding: 0 18px;
  	background-color: white;
  	max-height: 0;
  	min-height: 100%;
  	overflow: auto;
  	transition: max-height 0.2s ease-out;
 }

.module3 #content .tabcontent button{
	margin: 20px 10px;
	padding: 10px;
	background-color: #19381F;
	color: white;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.1em;
	font-family: "Trebuchet MS", Verdana, sans-serif;
}

.module3 #content .tabcontent button:hover{
	background-color: #53A548;
}

.module3 #content #profile, .module3 #content #recipes, .module3 #content #products, .module3 #content #miscProducts{
	width: 90%;
}

.module3 #content .tabcontent #displayRecipe #recipe{
	background-color: white;
	border: 1px solid #19381F;
	border-radius: 15px;
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
}

.module3 #content .tabcontent #displayRecipe #recipe img{
	max-width: 85px;
	width: 20%;
}

.module3 #content .tabcontent #displayRecipe #recipe h5{
	margin: 10px;
	padding: 10px;
	font-size: 1.3em;
	width: 20%;
}

.module3 #content .tabcontent #displayRecipe #recipe p{
	margin: 5px;
	width: 30%;
}

.module3 #content .tabcontent #intro, .module3 #content .tabcontent #intro2, .module3 #content .tabcontent #intro3{
	padding-bottom: 20px;
}

.module3 #content .tabcontent #displayProduct, .module3 #content .tabcontent #displayRecipe{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
}

.module3 #content .tabcontent #displayProduct #item{
	background-color: white;
	border: 1px solid #19381F;
	border-radius: 15px;
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

.module3 #content .tabcontent #displayProduct #item #prodInfo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.module3 #content .tabcontent #displayProduct #item #prodInfo img{
	max-width: 85px;
	width: 25%;
}

.module3 #content .tabcontent #displayProduct #item #prodInfo h5{
	margin: 10px;
	padding: 10px;
	font-size: 1.3em;
	width: 30%;
}

.module3 #content .tabcontent #displayProduct #item #prodInfo p{
	margin: 5px;
	width: 15%;
}

.module3 #content .tabcontent #displayProduct #item #prodInfo .button1{
	background-color: white;
	margin: 20px 10px;
	padding: 10px;
	color: #19381F;
	border-radius: 30px;
	border: 1px solid #19381F;
	cursor: pointer;
	text-decoration: none;
	font-size: 0.8em;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	width: 100px;
	width: 15%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.module3 #content .tabcontent #displayProduct #item #prodInfo .button2, .module3 #content .tabcontent #displayRecipe #recipe .button{
	background-color: white;
	margin: 20px 10px;
	padding: 10px;
	color: #19381F;
	border-radius: 30px;
	border: 1px solid #19381F;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.1em;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	width: 100px;
	width: 15%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Miscellaneous Producs*/

.module3 #content .tabcontent #displayMiscProduct{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
}

.module3 #content .tabcontent #displayMiscProduct #miscItem{
	background-color: white;
	border: 1px solid #19381F;
	border-radius: 15px;
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

.module3 #content .tabcontent #displayMiscProduct #miscItem{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
}

.module3 #content .tabcontent #displayMiscProduct #miscItem img{
	max-width: 85px;
	width: 25%;
}

.module3 #content .tabcontent #displayMiscProduct #miscItem h5{
	margin: 10px;
	padding: 10px;
	font-size: 1.3em;
	width: 30%;
}

.module3 #content .tabcontent #displayMiscProduct #miscItem p{
	margin: 5px;
	width: 15%;
}

.module3 #content .tabcontent #displayMiscProduct #miscItem .miscButton{
	background-color: white;
	margin: 20px 10px;
	padding: 10px;
	color: #19381F;
	border-radius: 30px;
	border: 1px solid #19381F;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.1em;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	width: 100px;
	width: 15%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}



/* Cart*/
.module3 #content #displayCart{
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 50%;
	background-color: #F8F9FA;
	border: 0.5px dashed #495057;
}

.module3 #content #cart{
	width: 90%;
}

.module3 #content #displayCart .bought{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-height: 25px;
	font-family: "Roboto Mono", serif;
	padding: 5px 4px 0px 4px;
}

.module3 #content #displayCart .heading{
	font-weight: bold;
	border-bottom: 1px solid #495057;
}

.module3 #content #displayCart .total{
	font-weight: bold;
	border-top: 1px solid #495057;
	padding-bottom: 3px;
	padding-top: 7px;
	margin-top: 7px;
}

.module3 #footer{
	margin-left: auto;
	margin-right: auto;
	background-color: #91CB3E;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
}





/* ===== MODULE 2 ======= */

/*
light green: #91CB3E
medium green 1: #53A548
medium green 2: #4C934C
dark green: #19381F
yellow: #EEE82C
*/

.module2 #header{
	margin-left: auto;
	margin-right: auto;
	background-color: #91CB3E;
	padding: 10px;
	display: flex;
	flex-direction: row;
	
	align-items: center;
}

.module2 #header .home{
	display: flex;
	justify-content: flex-start;
}

.module2 #header .title{
	display: flex;
	justify-content: flex-start;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0 75px 0 0;
}

.module2 #header .home a{
	text-decoration: none;
	color: black;
	background: white;
	border-radius: 20px;
	padding: 10px 20px;
}

.module2 #header .home a:hover{
	text-decoration: none;
	color: black;
	background: #F0F7F4;
	border-radius: 20px;
	padding: 10px 20px;
}

.module2 #content{
	min-height: 600px;
}

.module2 #content .tab{
	background-color: #19381F;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.module2 #content .tab button{
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-size: 1em;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	width: 100px;
}

.module2 #content .tab button:hover{
	background-color: #F0F7F4;
}

.module2 #content .tab button.active{
	background-color: #53A548;
}

.module2 #content .tabcontent{
	padding: 10px 15px;
	margin: 0;
	display: none;
}

.module2 #content .tabcontent button{
	margin: 20px 10px;
	padding: 10px;
	background-color: #19381F;
	color: white;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.1em;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	width: 150px;
}

.module2 #content .tabcontent button:hover{
	background-color: #53A548;
	color: black;
}

.module2 #content .tabcontent #displayProduct{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
}

.module2 #content .tabcontent #displayProduct #item{
	background-color: white;
	border: 1px solid #19381F;
	border-radius: 15px;
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}

.module2 #content .tabcontent #displayProduct #item img{
	max-width: 85px;
	width: 25%;
}

.module2 #content .tabcontent #displayProduct #item h5{
	margin: 10px;
	padding: 10px;
	font-size: 1.3em;
	width: 35%;
}

.module2 #content .tabcontent #displayProduct #item p{
	margin: 5px;
	width: 20%;
}

.module2 #content .tabcontent #displayProduct #item button{
	background-color: white;
	margin: 20px 10px;
	padding: 10px;
	color: #19381F;
	border-radius: 30px;
	border: 1px solid #19381F;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.1em;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	width: 100px;
	width: 20%;
}

.module2 #content #displayCart{
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 50%;
	background-color: #F8F9FA;
	border: 0.5px dashed #495057;
}

.module2 #content #displayCart .bought{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-height: 25px;
	font-family: "Roboto Mono", serif;
	padding: 5px 4px 0px 4px;
}

.module2 #content #displayCart .heading{
	font-weight: bold;
	border-bottom: 1px solid #495057;
}

.module2 #content #displayCart .total{
	font-weight: bold;
	border-top: 1px solid #495057;
	padding-bottom: 3px;
	padding-top: 7px;
	margin-top: 7px;
}

.module2 #footer{
	margin-left: auto;
	margin-right: auto;
	background-color: #91CB3E;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
}



/* ===== MODULE 1 ======= */

/*
light pink: #FCDCCE
darker pink: #F5B1A7;
*/

.module1 #header{
	margin-left: auto;
	margin-right: auto;
	background-color: #F5B1A7;
	padding: 10px;
	display: flex;
	flex-direction: row;
	
	align-items: center;
	height: 100%;
}

.module1 #header .home{
	display: flex;
	justify-content: flex-start;
}

.module1 #header .title{
	padding: 20px 0 0 0 ;
	display: flex;
	justify-content: flex-start;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.module1 #header .home a{
	text-decoration: none;
	color: black;
	background: white;
	border-radius: 20px;
	padding: 10px 20px;
}

.module1 #header .home a:hover{
	text-decoration: none;
	color: black;
	background: #F0F7F4;
	border-radius: 20px;
	padding: 10px 20px;
}

.module1 #header .logo{
	position: relative;
	max-width: 150px;
	padding: 0 7px;
}

.module1 #content .instructions{
	display: block;
	text-align: center;
}

.module1 #content .instructions a{
	font-weight: bolder;
	color: black;
}

.module1 #content .screenshot{
	display: block;
	text-align: center;
	padding: 0 0 10px 0;
}

.module1 #content{
	padding: 10px 15px;
	margin: 0;
	background-color: #FCDCCE;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.module1 #content .screenshot img{
	max-width: 550px;
	padding: 20px;
}

.module1 #content form{
	margin-left: auto;
	margin-right: auto;
}

.module1 #content form .question{
	font-weight: bold;
}

.module1 #content form input[type=text]{
	width: 100%;
	border-radius: 5px;
	background-color: white;
	border: 1px solid white;
	padding: 5px;
}

.module1 #content form input[type=date]{
	width: 100%;
	border-radius: 5px;
	background-color: white;
	border: 1px solid white;
	padding: 5px;
	color: grey;
	font-family: sans-serif;
}

.module1 #content form .question{
	display: block;
}

/* To make likert scale, I referred to this website:
https://codepen.io/mr-t77/pen/jRzmMZ */

/* ===== SCALE 5 ===== */
.module1 #content form .scale{
	display: block;
	list-style: none;
	width: 100%;
}

.module1 #content form .scale:before{
	content: '';
	position: relative;
	display: block;
	background-color: #F5B1A7;
	left: 9.5%;
	top: 11px;
	height: 3.5px;
	width: 78%;
}

.module1 #content form .scale li{
	display: inline-block;
	width: 19%;
	text-align: center;
	vertical-align: top;
}

.module1 #content form .scale .scale-label{
	font-size: 0.75em;
}

.module1 #content form .scale li input[type=radio]{
	display: block;
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -6px;
}
/* ====== */

/* ===== SCALE 10 ===== */
.module1 #content form .scale10{
	display: block;
	list-style: none;
	width: 100%;
}
.module1 #content form .scale10:before{
	content: '';
	position: relative;
	display: block;
	background-color: #F5B1A7;
	left: 4.25%;
	top: 11px;
	height: 3.5px;
	width: 82%;
}

.module1 #content form .scale10 li{
	display: inline-block;
	width: 7.575%;
	text-align: center;
	vertical-align: top;
}

.module1 #content form .scale10 .scale-label{
	font-size: 0.75em;
}

.module1 #content form .scale10 li input[type=radio]{
	display: block;
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -6px;
}
/* ====== */

.module1 #content form textarea{
	width: 100%;
	border-radius: 5px;
	background-color: white;
	border: 1px solid white;
	padding: 5px;
	font-family: sans-serif;
}

.module1 #content form .submit{
	display: block;
	align-items: center;
	text-align: center;
}

.module1 #content form .submit input[type=submit]{
	background-color: #F5B1A7;
	border-radius: 30px;
	padding: 15px 30px;
	margin: 5px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
}

.module1 #content form input[type=submit]:hover{
	background-color: white;
	border-radius: 30px;
	padding: 15px 30px;
	margin: 5px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, sans-serif;
}

.module1 #content .donuts img{
	max-width: 100px;
}

.module1 #content .donuts{
	display: block;
	text-align: center;
	padding: 20px 0;
}

.module1 #footer{
	margin-left: auto;
	margin-right: auto;
	background-color: #F5B1A7;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
}


/* ===== HOME PAGE ====== */

/*
Darkest
#3C493F
#7E8D85
#B3BFB8
#F0F7F4
#A2E3C4
#
Lightest
*/

.main-section #header{
	background: #7E8D85;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: flex;
	justify-content: center;
	margin: 0;
}

.main-section #footer{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
	background: #7E8D85;
}

.main-section #content{
	background-color: white;
	padding: 10px 15px;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 600px;
	justify-content: space-between;
}

.main-section #content .modules{
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.main-section #content .mod-links{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-section #content .mod-links li{
	list-style: none;
}

.main-section #content .mod-links a{
	display: inline-block;
	color: black;
	border-radius: 20px;
	font-weight: 350;
	text-decoration: none;
	min-width: 70px;
	margin: 10px 45px 10px 20px;
	padding: 10px 20px;
	background: #B3BFB8;
}

.main-section #content .mod-links a:hover{
	background: #A2E3C4;
}

.main-section #content .graphic{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 10px;
}

.main-section #content .graphic img{
	max-width: 400px;
}


